@using AzureBlobStorage.ViewModel
@model List<ContainerAndBlobViewModel>

<div class="text-center">

    <h2>Account : @ViewBag.AccountName</h2>

</div>

@foreach (var containerAndBlob in Model)
{
    @foreach (var container in containerAndBlob.Container)
    {
        <div class="display-container">
            <h4>Container Name: @container.Name</h4>
            <ul class="list-group">
                @foreach (var blob in container.Blobs)
                {
                    @if (!string.IsNullOrEmpty(blob.Title))
                    {
                        <li class="list-group-item">
                            @blob.BlobName
                            <ul class="pt-2">
                                <li style="list-style-type:none; font-style:italic;">
                                    Title: @blob.Title
                                </li>
                                <li style="list-style-type:none; font-style:italic; ">
                                    Comment: @blob.Comment
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="list-group-item">
                            @blob.BlobName
                        </li>
                    }
                }
            </ul>
        </div>
    }
}

    

